/* ページ幅、ヘッダー、フォント、レイアウト等の基本CSS */

* {
    box-sizing: border-box;
}

html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, div{
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--base-bg-color);
    font-family: "IPAexGothic", "IPAexゴシック", "Noto Sans JP", "Yu Gothic", "Meiryo", sans-serif;
    line-height: 1.6;
    color: var(--base-text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; /* 余白はmainに持たせる */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

p {
    font-weight: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


header {
    height: 80px; /* PCデフォルト値 */
    background-color: var(--contents-bg-color);
    width: 100%;
}

.header-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.header-inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 24px;
}

.header-logo a {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
}

.header-logo a:hover {
    opacity: 0.8;
}

.header-logo img {
    height: 80%;
    width: auto;
}

.header-logo img:hover {
    opacity: 0.8;
}

.header-nav {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: right;
}

.header-nav a {
    font-size: 12px;
    display: block;
    line-height: 40px;
    padding: 0 12px;
    transition: all 0.5s;
}

.header-nav a:hover {
    background-color: var(--hover-color);
    border-radius: 10px;
}

/* ハンバーガーメニューの設定 */
.menu-icon {
    display: none;
    height: 100%;
    align-items: center;

}

.menu-icon img {
    height: 50%;
    width: auto;
}

.menu-icon img:hover {
    opacity: 0.8;
}

.modal-header-overlay {
    display: none;
}

.modal-header-overlay.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    z-index: 90;
}

.modal-header-nav {
    display: none;
}

.modal-header-nav.open {
    display: block;
}

.modal-header-content {
    font-size: 12px;
    background-color: var(--contents-bg-color);
    border-radius: 10px;
    width: 250px;
    padding: 12px;
    position: fixed;
    top: 10px;
    right: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .6);
    z-index: 100;
}

.modal-header-content li {
    line-height: 2.5;
}

.modal-header-content li a {
    display: block;
}

.is-hover:hover {
    background-color: var(--hover-color);
    border-radius: 10px;
}

.main-container {
    max-width: 1120px; /* 画面幅の上限値 */
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

/* flashメッセージの設定 */
.message.normal {
    position: fixed;
    right: 18px;
    bottom: 18px;
    background-color: var(--hover-color);
    color: var(--main-color);
    padding: 12px;
    border-radius: 10px;
}

.message.error {
    position: fixed;
    right: 18px;
    bottom: 18px;
    background-color: var(--error-background-color);
    color: var(--error-text-color);
    padding: 12px;
    border-radius: 10px;
}

footer {
    height: 80px; /* PCデフォルト値 */
    background-color: var(--contents-bg-color);
    width: 100%;
}

.footer-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.footer-inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-inner p {
    text-align: left;
    font-size: 12px;
}