/* 認証関連画面（ログイン、新規登録、パスワード再設定） */

.auth-inner {
    max-width: 332px;
    height: auto;
    background-color: var(--contents-bg-color);
    margin: 100px auto 100px auto;
}

.auth-content {
    width: 100%;
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.auth-content h1 {
    font-size: 24px;
}

.auth-form {
    text-align: center;
}

.auth-input input {
    border: 1px solid var(--form-color);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.auth-button {
    margin-top: 14px;
}

.auth-link {
    text-align: left;
}

.auth-link a {
    text-decoration: underline;
    display: block;
    margin-bottom: 16px;
}