/* 認証関連画面（ログイン、新規登録、パスワード再設定） */

.auth-inner {
    max-width: 332px;
    height: auto;
    background-color: var(--contents-bg-color);
    margin: 100px auto 100px auto;
}

.auth-content {
    width: 100%;
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.auth-content h1 {
    font-size: 24px;
}

.auth-form {
    text-align: center;
}

.auth-input input {
    border: 1px solid var(--form-color);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.auth-button {
    margin-top: 14px;
}

.auth-link {
    width: 100%;
    height: auto;
    padding: 0 24px;
    text-align: left;
}

.auth-link a {
    text-decoration: underline;
    display: block;
    margin-bottom: 16px;
    font-size: 14px;
}

.auth-form label {
    color: var(--form-color);
    text-align: left;
    display: block;
    padding-bottom: 8px;
}

.auth-section {
    max-width: 332px;
    height: auto;
    background-color: var(--contents-bg-color);
    margin: 100px auto 24px auto;
}

.auth-href {
    padding: 12px 24px;

}

.auth-href a {
    display: block;
    line-height: ;
    padding: 12px 24px;
    color: var(--form-color);
    transition: all 0.5s;
}

.auth-href a:hover {
    background-color: var(--hover-color);
    border-radius: 10px;
}

.auth-area {
    max-width: 332px;
    height: auto;
    background-color: var(--contents-bg-color);
    margin: 0px auto 100px auto;
}