/* ページ幅、ヘッダー、フォント、レイアウト等の基本CSS */

* {
    box-sizing: border-box;
}

html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, div{
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--base-bg-color);
    font-family: "IPAexGothic", "IPAexゴシック", "Noto Sans JP", "Yu Gothic", "Meiryo", sans-serif;
    line-height: 1.6;
    color: var(--base-text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

p {
    font-weight: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


header {
    height: 80px; /* PCデフォルト */
    background-color: var(--contents-bg-color);
    width: 100%;
}

.header-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.header-inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 24px;
}

.header-logo a {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
}

.header-logo img {
    height: 100%;
    width: auto;
}

.header-nav {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: right;
}

.header-nav a {
    font-size: 12px;
    display: block;
    line-height: 40px;
    padding: 0 12px;
    transition: all 0.5s;
}

.header-nav a:hover {
    background-color: var(--hover-color);
    border-radius: 10px;
}

.main-container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 24px;
}

.message.normal {
    position: fixed;
    right: 18px;
    bottom: 18px;
    background-color: var(--hover-color);
    color: var(--main-color);
    padding: 12px;
    border-radius: 10px;
}

.message.error {
    position: fixed;
    right: 18px;
    bottom: 18px;
    background-color: var(--error-background-color);
    color: var(--error-text-color);
    padding: 12px;
    border-radius: 10px;
}

footer {
    height: 80px; /* PCデフォルト */
    background-color: var(--contents-bg-color);
    width: 100%;
}

.footer-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.footer-inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-inner p {
    text-align: left;
    font-size: 12px;
}