/* 使用する色のスキーム定義 */
:root {
    --base-bg-color:#f4f4f4;
    --base-text-color:#333333;
    --contents-bg-color:#ffffff;
    --main-color:#0067c0;
    --error-text-color:#ed1a3d;
    --form-color:#2FAC9E;
    --hover-color:#ABE1FA;
    --modal-color:#696969;
}