/* ボタン、フォーム等の各共通コンポーネント（部品）の定義 */
button {
    padding: 10px 40px;
    background-color: var(--main-color);
    color: var(--contents-bg-color);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    opacity: 0.8;
}

.logout {
    font-size: 12px;
}