/* レスポンシブデザインに対応したメディアクエリを記述 */

/* タブレットサイズ（768px〜960px） */
@media (max-width:960px) {
    /* ヘッダーの共通設定 */
    .header-nav {
        display: none;
    }

    .menu-icon {
        display: flex;
    }
    /* indexのコンテンツ幅の設定 */
    .home-display-wrap {
        grid-template-columns: repeat(2, 1fr); /* 2分割のグリッドを用意 */
    }

    .home-stats-wrap {
        grid-template-columns: repeat(2, 1fr); /* 2分割のグリッドを用意 */
    }

}

/* スマホサイズ（～768px未満） */
@media (max-width:767.98px) {
    /* ヘッダーの共通設定 */
    .header-nav {
        display: none;
    }
    .menu-icon {
        display: flex;
    }
    /* indexのコンテンツ幅の設定 */
    .home-display-wrap {
        grid-template-columns: repeat(1, 1fr); /* 1分割のグリッドを用意 */
    }

    .home-stats-wrap {
    grid-template-columns: repeat(1, 1fr); /* 1分割のグリッドを用意 */
    }

    /* study_logs, study_logs_listの日付表示設定 */
    .study-date-view {
        display: flex;
        flex-flow: column;
        text-align: center;
        gap: 24px;
    }
    /* study_logsの表幅の設定 */
    .study-logs {
        width: 100%;
        table-layout: fixed;
    }

    .study-tr.logs th.th-num {
        width: 7.5%;
    }

    .study-tr.logs th.th-hour {
        width: 25%;
    }

    .study-tr.logs th.th-fieldname {
        width: 15%;
    }

    .study-tr.logs th.th-content {
        width: 10%;
    }

    .study-tr.logs th.th-delete {
        width: 10%;
    }

    /* study_logs_listの表幅の設定 */
    .study-logs-list {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }

    /* study_logs_listのモーダルウインドウ幅の設定 */
    .study-logs-modal .modal-content {
        width: 300px;
    }
}
