/* レスポンシブデザインに対応したメディアクエリを記述 */

/* タブレットサイズ（768px〜960px） */
@media (max-width:960px) {
    /* ヘッダーの共通設定 */
    .header-nav {
        display: none;
    }

    .menu-icon {
        display: flex;
    }
}

/* スマホサイズ（～768px未満） */
@media (max-width:767.98px) {
    /* ヘッダーの共通設定 */
    .header-nav {
        display: none;
    }
    .menu-icon {
        display: flex;
    }
    /* study_logsの設定 */
    .study-date-view {
        display: flex;
        flex-flow: column;
        text-align: center;
        gap: 24px;
    }
}
