/* study_logs, study_fields（学習記録、学習分野）の共通css */

.study-inner {
    max-width: 1120px;
    height: auto;
    margin: 100px auto 100px auto;
}

.study-head {
    margin-bottom: 24px;
}

.study-head h1 {
    text-align: center;
    font-size: 24px;
}

.study-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.study-date p, .study-date form {
    background-color: var(--contents-bg-color);
    border: 2px solid var(--form-color);
    padding: 8px;
}

.study-date input {
    border: 1px solid var(--form-color);
}

.study-form {
    width: 100%;
}

.study-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.study-table-container table {
    border: 2px solid var(--form-color);
    border-collapse: collapse;
}

.study-logs {
    width: 100%;
}

.study-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.table-field-color {
    text-align: center;
}

.th-num {
    width: 5%;
}

.th-hour{
    width: 15%;
}

.th-fieldname {
    width: 15%;
}

.th-content {
    width: 60%;
}

.th-delete {
    width: 5%;
}

.study-tr th,td {
    border: 1px solid var(--form-color);
    text-align: center;
}

.study-tr.logs input {
    width: 100%;
    padding: 5px;
}

.study-tr.logs textarea {
    width: 100%;
    line-height: 1.6;
    padding: 5px;
    resize: vertical;
}

.study-logs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.study-logs-join {
    display: flex;
    background-color: var(--contents-bg-color);
    border: 2px solid var(--form-color);
    margin-bottom: 24px;
}

.study-logs-date {
    border-right: 2px solid var(--form-color);
    padding: 8px;
    text-align: center;
    width: 80px;
}

.study-logs-content {
    padding: 8px;
    width: 440px;
}
