/* study_logs, study_fields（学習記録、学習分野）の共通css */

.study-inner {
    max-width: 1120px;
    height: auto;
    margin: 100px auto 100px auto;
}

.study-head {
    margin-bottom: 24px;
}

.study-head h1 {
    text-align: center;
    font-size: 24px;
}

.study-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.study-date p, .study-date form {
    background-color: var(--contents-bg-color);
    border: 1px solid var(--base-text-color);
    padding: 8px;
}

.study-form {
    width: 100%;
}

.study-table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.study-table table {
    width: 100%;
}

.study-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.table-field-color {
    text-align: center;
}