/* study_logs, study_fields（学習記録、学習分野）の共通css */

.study-inner {
    max-width: 1120px;
    height: auto;
    margin: 100px auto 100px auto;
}

.study-head {
    margin-bottom: 24px;
}

.study-head h1 {
    text-align: center;
    font-size: 24px;
}

.study-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.study-date p, .study-date form {
    background-color: var(--contents-bg-color);
    border: 2px solid var(--form-color);
    padding: 8px;
}

.study-date input {
    border: 1px solid var(--form-color);
}

.study-form {
    width: 100%;
}

.study-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.study-table-container table {
    border: 2px solid var(--form-color);
    border-collapse: collapse;
}

.study-logs {
    width: 100%;
}

.study-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.table-field-color {
    text-align: center;
}

.th-num {
    width: 5%;
}

.th-hour{
    width: 15%;
}

.th-fieldname {
    width: 15%;
}

.th-content {
    width: 60%;
}

.th-delete {
    width: 5%;
}

.study-tr th,td {
    border: 1px solid var(--form-color);
    text-align: center;
}

.study-tr.logs input {
    width: 100%;
    padding: 5px;
}

.study-tr.logs textarea {
    width: 100%;
    line-height: 1.6;
    padding: 5px;
    resize: vertical;
}

.study-logs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.study-logs-join {
    display: flex;
    background-color: var(--contents-bg-color);
    border: 2px solid var(--form-color);
    margin-bottom: 24px;
}

.study-logs-date {
    border-right: 2px solid var(--form-color);
    padding: 8px;
    text-align: center;
    width: 80px;
}

.study-logs-content {
    padding: 8px;
    width: 400px;
}

.study-logs-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    width: auto;
}

.open {
    padding: 0px;
    background-color: var(--contents-bg-color);
    color: var(--base-text-color);
    border-radius: 0px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.open:hover {
    background-color: var(--hover-color);
    opacity: 0.8;
}

.study-logs-modal .modal-content {
    display: none;
    background-color: var(--contents-bg-color);
    width: 390px;
    padding: 24px;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow: scroll;
    text-align: center;
    z-index: 100;
    max-height: 90vh;
}

.study-logs-modal .modal-content.is-open,
.study-logs-modal .mask.is-open {
    display: block;
}

.study-logs-modal .mask {
    display: none;
    opacity: 0;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    inset: 0;
}

.modal-date {
    margin-bottom: 16px;
}

.modal-date h1 {
    font-size: 24px;
}

.modal-total-hour {
    margin-bottom: 16px;
}

.modal-head-h h2,
.modal-head-f h2,
.modal-head-c h2 {
    font-size: 18px;
    margin-bottom: 16px;
}

.modal-content p {
    font-size: 16px;
    border: solid 1px var(--base-text-color);
    display: inline-block;
    padding: 8px;
}

.modal-field-hour {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modal-field-hour p {
    margin-bottom: 16px;
}

.modal-study-content p {
    margin-bottom: 16px;
}

.content-head {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.content p {
    width: 300px;
    text-align: left;
}

.num {
    width: 40px;
}

.fn {
    width: 160px;
}

.c-fn {
    width: 260px;
}

.content-head .num,
.content-head .c-fn {
    margin-bottom: 0px;
}

.total-hour,
.hour,
.n-content {
    width: 100px;
}

