{% extends "base.html" %} {% block head_link %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/auth.css') }}"
/>
{% endblock %} {% block title %} 新規登録 {% endblock %} {% block content %}
<div class="main-container">
  <div class="auth-inner">
    <div class="auth-content">
      <h1>新規登録</h1>
      <div class="auth-form">
        <form action="{{ url_for('signup_process') }}" method="post">
          <div class="auth-input">
            <input
              placeholder="氏名"
              type="text"
              id="username"
              name="username"
            /><br />
            <input
              placeholder="メールアドレス"
              type="email"
              id="email"
              name="email"
            /><br />
            <input
              placeholder="パスワード"
              type="password"
              id="password1"
              name="password1"
            /><br />
            <input
              placeholder="パスワード（確認用）"
              type="password"
              id="password2"
              name="password2"
            />
          </div>
          <div class="auth-button">
            <button type="submit">新規登録</button>
          </div>
        </form>
      </div>
      <div class="auth-link">
        <a href="{{ url_for('login_view') }}">ログイン画面はこちら</a>
        <a href="{{ url_for('password_reset_view') }}"
          >パスワードをお忘れの方はこちら</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
