/* study_logs, study_fields（学習記録、学習分野）の共通css */

.study-inner {
    max-width: 1120px;
    height: auto;
    width: 100%;
    margin: 100px auto 100px auto;
}

.study-head {
    margin-bottom: 24px;
}

.study-head h1 {
    text-align: center;
    font-size: 24px;
}

.study-date-view {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.study-date p, .study-date form {
    background-color: var(--contents-bg-color);
    padding: 8px;
}

.study-date input {
    border: 1px solid var(--form-color);
}

.study-form {
    width: 100%;
}

.study-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    width: 100%;
}

.study-table-container table {
    border: 1px solid var(--form-color);
    border-collapse: collapse;
}

/* study_logsの表幅の設定 */
.study-logs {
    width: 100%;
    table-layout: auto;
}

.study-tr th,td {
    border: 1px solid var(--form-color);
    text-align: center;
    white-space: nowrap;
}

.study-tr.logs th.th-num {
    width: 5%;
}

.study-tr.logs th.th-hour {
    width: 20%;
}

.study-tr.logs th.th-fieldname {
    width: 20%;
}

.study-tr.logs th.th-content {
    width: 50%;
}

.study-tr.logs th.th-delete {
    width: 5%;
}

.study-tr.logs input {
    width: 100%;
    padding: 5px;
    line-height: 1.5;
}

.hm {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}

.hm input {
    text-align: right;
}

.study-tr.logs textarea {
    width: 100%;
    line-height: 1.6;
    padding: 5px;
    resize: vertical;
}

.study-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/* study_fieldsの表幅の設定 */
.study-fields {
    table-layout: auto;
}

.study-tr.fields th.th-num {
    width: 5%;
}

.study-tr.fields th.th-fieldname {
    width: 20%;
}

.study-tr.fields th.th-color {
    width: 10%;
}

.study-tr.fields th.th-delete {
    width: 5%;
}

.table-fieldname input,
.table-delete input {
    width: 100%;
    padding: 5px;
    line-height: 1.5;
}

/* study_logs_listの設定 */
.study-logs-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    justify-content: space-between;
    background-color: var(--contents-bg-color);
    gap: 16px;
    padding: 16px;
}

.study-logs-join {
    display: flex;
    position: relative;
}

.study-logs-join.isLogs {
    background-color: var(--isLogs-background-color);
}

.study-logs-join.noLogs {
    background-color: var(--noLogs-background-color);
}

.study-logs-join .open {
    position: absolute;
    inset: 0;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.study-logs-join .open:hover {
    opacity: 0.3;
    border-radius: 0px;
    background-color: var(--contents-bg-color);
}

.study-logs-date {
    border-right: 1px solid var(--form-color);
    padding: 8px;
    text-align: center;
    width: 80px;
}

.study-logs-content {
    flex: 1;
    padding: 8px;
}

/* study_logs_listのモーダルウインドウ設定 */
.study-logs-modal .modal-content {
    display: none;
    background-color: var(--contents-bg-color);
    width: 500px;
    padding: 24px;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow: scroll;
    text-align: center;
    z-index: 100;
    max-height: 90vh;
}

.study-logs-modal .modal-content.is-open,
.study-logs-modal .mask.is-open {
    display: block;
}

.study-logs-modal .mask {
    display: none;
    opacity: 0;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    inset: 0;
    z-index: 90;
}

.modal-date {
    margin-bottom: 16px;
}

.modal-date h1 {
    font-size: 24px;
}

.modal-total-hour {
    margin-bottom: 16px;
}

.modal-head-h h2,
.modal-head-f h2,
.modal-head-c h2 {
    font-size: 18px;
    margin-bottom: 16px;
}

.modal-content p {
    font-size: 16px;
    border: solid 1px var(--base-text-color);
    padding: 8px;
    white-space: nowrap;
}

.modal-content p + p {
    border-left: none; /* 2つ目以降の左ボーダーを消す */
}

.modal-field-hour {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.modal-field-hour-list {
    width: 100%;
    margin: 0;
    white-space: nowrap;
    display: flex;
}

.modal-field-hour p {
    margin-bottom: 16px;
}

.modal-study-content p {
    margin-bottom: 16px;
}

.content-head {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}


.num {
    width: 10%;
}

.fn {
    width: 50%;
}

.hour {
    width: 40%;
}

.c-fn {
    width: 90%;
}

.content p {
    width: 100%;
    text-align: left;
    white-space: normal;
    border-top: none; /* 上ボーダーを消して重なり解除 */
}

.content-head .num,
.content-head .c-fn {
    margin-bottom: 0px;
}

.total-hour,
.n-hour,
.n-content {
    width: 100%;
}

