<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <!-- favicon読み込み あらゆるブラウザや端末で対応（https://realfavicongenerator.net/） -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='image/favicon/favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='image/favicon/favicon.svg') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='image/favicon/apple-touch-icon.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='image/favicon/site.webmanifest') }}">
    <!-- common.jsの読み込み -->
    <script src="{{ url_for('static', filename='js/common.js') }}" defer></script>
    {% block head_link %}{% endblock %}
    <!-- responsive.cssは最後に読み込み -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <title>{% block title %} タイトル {% endblock %}</title>
</head>
<body>
    <!-- 共通ヘッダー -->
    <header>
        <div class="header-container">
            <div class="header-inner">
                {% if current_user.user_id %}
                    <div class="header-logo">
                        <a href="{{ url_for('index_view', user_id=current_user.user_id) }}"><img src="{{ url_for('static', filename='image/logo.png') }}" alt="ロゴ画像"></a>
                        <a href="{{ url_for('index_view', user_id=current_user.user_id) }}">VSLog</a>
                    </div>
                    <div class="header-nav">
                        <a href="{{ url_for('index_view', user_id=current_user.user_id) }}">ホーム</a>
                        <a href="{{ url_for('study_logs_view', user_id=current_user.user_id) }}">学習記録の登録・編集</a>
                        <a href="{{ url_for('study_fields_view', user_id=current_user.user_id) }}">学習分野の登録・編集</a>
                        <a href="{{ url_for('study_logs_list_view', user_id=current_user.user_id) }}">学習履歴の一覧</a>
                        <a href="{{ url_for('profile_edit_view', user_id=current_user.user_id) }}">プロフィール</a>
                        <form action="{{ url_for('logout') }}" method="get">
                            <button class="logout" type="submit">ログアウト</button>
                        </form>
                    </div>
                    <div class="menu-icon">
                        <img src="{{ url_for('static', filename='image/menu-icon.png') }}" alt="メニューアイコン">
                    </div>
                {% else %}
                    <div class="header-logo">
                        <a href="{{ url_for('login_view') }}"><img src="{{ url_for('static', filename='image/logo.png') }}" alt="ロゴ画像"></a>
                        <a href="{{ url_for('login_view') }}">VSLog</a>
                    </div>
                    <div class="header-nav">
                        <a href="{{ url_for('login_view') }}">ログイン画面はこちら</a>
                        <a href="{{ url_for('signup_view') }}">新規登録はこちら</a>
                        <a href="{{ url_for('password_reset_view') }}">パスワードをお忘れの方はこちら</a>
                    </div>
                    <div class="menu-icon">
                        <img src="{{ url_for('static', filename='image/menu-icon.png') }}" alt="メニューアイコン">
                    </div>
                {% endif %}
            </div>
        </div>
    </header>

    <!-- コンテンツ -->
    <main>
        <!-- フラッシュメッセージ -->
        {% block flash %}
        <div class="flash-messsage">
            <div class="normal-message">
                {% with normal_messages = get_flashed_messages(category_filter=["正常"]) %}
                {% if normal_messages %}
                    {% for message in normal_messages %}
                        <p class="message normal">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <div class="error-message">
                {% with error_messages = get_flashed_messages(category_filter=["エラー"]) %}
                {% if error_messages %}
                    {% for message in error_messages %}
                        <p class="message error">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <script>
            const flashMessage = document.querySelectorAll('.message')
            console.log(flashMessage);
            flashMessage.forEach((message) => {
                setTimeout(() => {
                    message.remove()
                }, 5000);
            })
        </script>
        {% endblock %}
        <!-- 内容（ここに上書き） -->
        {% block content %} 内容 {% endblock %}
    </main>

    <!-- 共通フッダー -->
     <footer>
        <div class="footer-container">
            <div class="footer-inner">
                <p>©Copyright 2025 by VSLog</p>
            </div>
        </div>
     </footer>
</body>
</html>