{% extends "base.html" %}

{% block title %} ホーム画面 {% endblock %}

{% block header %}
<div class="header-nav">
    <a href="{{ url_for('index_view', user_id=current_user.user_id) }}">ホーム</a>
    <a href="{{ url_for('profile_edit_view', user_id=current_user.user_id) }}">プロフィール</a>
    <a href="{{ url_for('study_logs_view', user_id=current_user.user_id) }}">学習記録の登録・編集</a>
    <a href="{{ url_for('study_fields_view', user_id=current_user.user_id) }}">学習分野の登録・編集</a>
    <a href="{{ url_for('study_logs_list', user_id=current_user.user_id) }}">学習履歴の一覧</a>
    <form action="{{ url_for('logout') }}" method="get">
        <button class="logout" type="submit">ログアウト</button>
    </form>
</div>
{% endblock %}


{% block content %}
<div class="flash-messsage">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>

<div class="main-container">
    <div class="head-stats">
        <div class="head-stats-totalday">
            <p>学習日数</p>
            <p>{{ total_day }}日</p>
        </div>
        <div class="head-stats-totalhour">
            <p>学習時間（合計）</p>
            <p>{{ total_hour }}時間</p>
        </div>
        <div class="head-stats-avghour">
            <p>学習時間（平均）</p>
            <p>{{ avg_hour }}時間/日</p>
        </div>
    </div>
    <div class="main-stats">
        <div class="main-stats-graph">
            <iframe src="{{ url_for('graph_svg', user_id=current_user.user_id) }}" width="100%" height="400" frameborder="0"></iframe>
        </div>
    </div>
</div>

{% endblock %}