{% extends "base.html" %}
{% block head_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}

{% block title %} ホーム画面 {% endblock %}

{% block content %}
<div class="main-container">
    <div class="home-inner">
        <div class="home-head">
            <h1>{{ current_user.username }}さんの学習履歴</h1>
        </div>
        <div class="home-format">
            <form action="{{ url_for('get_graph_stats', user_id=current_user.user_id) }}" method="post" id="graphForm">
                <!-- メイン表示期間選択 -->
                <div class="home-stats">
                    <label for="period">表示期間：</label>
                    <select name="period" id="period">
                        <option value="this_week" selected>今週</option>
                        <option value="last_week">先週</option>
                        <option value="month">月間</option>
                        <option value="year">年間</option>
                        <option value="all">全期間</option>
                    </select>
                <!-- 年間選択 -->
                    <div id="year-container" class="hidden">
                        <label for="year">年：</label>
                        <select name="year" id="year">
                            <option value="{{ this_year }}" selected>{{ this_year }}</option>
                        </select>
                    </div>
                <!-- 月間選択 -->
                    <div id="month-container" class="hidden">
                        <label for="month-year">年：</label>
                        <select name="month-year" id="month-year">
                            <option value="{{ this_year }}" selected>{{ this_year }}</option>
                        </select><br>
                        <label for="month">月：</label>
                        <select name="month" id="month">
                            <option value="{{ this_month }}" selected>{{ this_month }}</option>
                        </select>
                    </div>
                </div>
                <div class="home-stats">
                    <label for="horizontalAxis">横軸表示形式：</label>
                    <select name="horizontalAxis" id="horizontalAxis">
                        <option value="days" selected>年月日別</option>
                        <option value="fields">分野別</option>
                    </select>
                </div>
                <div class="home-stats">
                    <label for="verticalAxis">縦軸表示形式：</label>
                    <select name="verticalAxis" id="verticalAxis">
                        <option value="time" selected>時間</option>
                        <option value="percent">%</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="home-format">
            <div class="home-stats">
                <img src="{{ url_for('static', filename='image/days.png') }}" alt="学習日数">
                <div class="home-stats-area">
                    <p>学習日数</p>
                    <section><p id="total_day"></p></section>
                </div>
            </div>
            <div class="home-stats">
                <img src="{{ url_for('static', filename='image/total.png') }}" alt="学習時間（合計）">
                <div class="home-stats-area">
                    <p>学習時間（合計）</p>
                    <section><p id="total_hour"></p></section>
                </div>
            </div>
            <div class="home-stats">
                <img src="{{ url_for('static', filename='image/average.png') }}" alt="学習時間（平均）">
                <div class="home-stats-area">
                    <p>学習時間（平均）</p>
                    <section><p id="avg_hour"></p></section>
                </div>
            </div>
        </div>
        <div class="home-graph" id="home-graph">
        </div>
    <div>
</div>
{% endblock %}
