{% extends "base.html" %}
{% block head_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block title %} パスワード変更 {% endblock %}

{% block content %}
<div class="main-container">
    <div class="auth-section">
        <div class="auth-href">
            <a href="{{ url_for('profile_edit_view', user_id=current_user.user_id) }}">プロフィール</a>
            <a href="{{ url_for('password_update_view', user_id=current_user.user_id) }}">パスワード変更</a>
        </div>
    </div>
    <div class="auth-area">
        <div class="auth-content">
            <h1>パスワード変更</h1>
            <div class="auth-form">
                <form action="{{ url_for('password_update_process', user_id=current_user.user_id) }}" method="post">
                    <div class="auth-input">
                        <label for="current_password">現在のパスワード</label>
                        <input type="password" id="current_password" name="current_password">
                        <label for="new_password1">新しいパスワード</label>
                        <input type="password" id="new_password1" name="new_password1">
                        <label for="new_password2">新しいパスワードの確認</label>
                        <input type="password" id="new_password2" name="new_password2">
                    </div>
                    <div class="auth-button">
                        <button type="submit">更新</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    {% endblock %}