{% extends "base.html" %}

{% block title %} パスワード再設定 {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <h1>パスワード再設定画面</h1><br>
    <div>
        <form action="{{ url_for('password_reset_process') }}" method="post">
            <label for="email">メールアドレス：</label>
            <input placeholder="メールアドレス" type="email" id="email" name="email"><br>

            <label for="new_password1">新しいパスワード：</label>
            <input placeholder="新しいパスワード" type="password" id="new_password1" name="new_password1"><br>

            <label for="new_password2">新しいパスワード（確認用）：</label>
            <input placeholder="新しいパスワード（確認用）" type="password" id="new_password2" name="new_password2"><br>

            <div>
                <button class="password_reset" type="submit">パスワード再設定</button>
            </div>
        </form>
    </div>
{% endblock %}