{% extends "base.html" %}
{% block head_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block title %} パスワード再設定 {% endblock %}

{% block content %}
<div class="main-container">
    <div class="auth-inner">
        <div class="auth-content">
            <h1>パスワード再設定</h1>
            <div class="auth-form">
                <form action="{{ url_for('password_reset_process') }}" method="post">
                    <div class="auth-input">
                        <input placeholder="メールアドレス" type="email" id="email" name="email"><br>
                        <input placeholder="新しいパスワード" type="password" id="new_password1" name="new_password1"><br>
                        <input placeholder="新しいパスワード（確認用）" type="password" id="new_password2" name="new_password2">
                    </div>
                    <div class="auth-button">
                        <button type="submit">パスワード再設定</button>
                    </div>
                </form>
            </div>
            <div class="auth-link">
                <a href="{{ url_for('login_view') }}">ログイン画面はこちら</a>
                <a href="{{ url_for('signup_view') }}">新規登録はこちら</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}