{% extends "base.html" %}
{% block head_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/study.css') }}">
    <script src="{{ url_for('static', filename='js/study_fields.js') }}"></script>
{% endblock %}

{% block title %} 学習分野の登録・編集 {% endblock %}

{% block header %}
<div class="header-nav">
    <a href="{{ url_for('index_view', user_id=current_user.user_id) }}">ホーム</a>
    <a href="{{ url_for('profile_edit_view', user_id=current_user.user_id) }}">プロフィール</a>
    <a href="{{ url_for('study_logs_view', user_id=current_user.user_id) }}">学習記録の登録・編集</a>
    <a href="{{ url_for('study_fields_view', user_id=current_user.user_id) }}">学習分野の登録・編集</a>
    <a href="{{ url_for('study_logs_list', user_id=current_user.user_id) }}">学習履歴の一覧</a>
    <form action="{{ url_for('logout') }}" method="get">
        <button class="logout" type="submit">ログアウト</button>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="flash-messsage">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashes">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>

<div class="main-container">
    <div class="study-inner">
        <div class="study-head">
            <h1>学習分野の登録・編集</h1>
        </div>
        <div class="study-form">
            <form action="{{ url_for('study_fields_process', user_id=current_user.user_id) }}" method="post">
                <div class="study-table">
                <table>
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>分野名</th>
                            <th>凡例カラー</th>
                            <th>削除</th>
                        </tr>
                    </thead>
                    <tbody id="field-rows">
                        {% for field in current_user.fields %}
                        <tr>
                            <td class="table-num">{{ loop.index }}</td>
                            <td><input type="text" name="fieldname[]" value="{{ field.fieldname }}"></td>
                            <td class="table-field-color"><input type="color" name="color_code[]" value="{{ field.color_code }}"></td>
                            <td>
                                <input type="hidden" name="field_id[]" value="{{ field.field_id }}">
                                <input type="hidden" name="row_action[]" value="update">
                                <button class="delete-button" type="button" onclick="markDeleted(this)">🗑️</button>
                            </td>
                        </tr>
                        {% endfor %}

                        <!-- 記入欄の追加 -->
                        {% for i in range(5 - current_user.fields|length) %}
                        <tr>
                            <td class="table-num">{{ current_user.fields|length + i + 1 }}</td>
                            <td><input type="text" name="fieldname[]" value=""></td>
                            <td class="table-field-color"><input type="color" name="color_code[]" value="#000000"></td>
                            <td>
                                <input type="hidden" name="field_id[]" value="">
                                <input type="hidden" name="row_action[]" value="new">
                                <button class="delete-button" type="button" onclick="removeRow(this)">🗑️</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                <div class="study-button">
                    <button type="submit">更新</button>
                    <button type="button" onclick="addRow()">記入欄を追加する</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}