{% extends "base.html" %}

{% block title %} 学習登録 {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <h1>{{ current_user.username }}さんの学習登録</h1>
    <form class="study_logs_process" action="{{ url_for('study_logs_process', user_id=current_user.user_id) }}" method="post">
        <table border="1">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>日付</th>
                    <th>学習時間</th>
                    <th>学習分野</th>
                    <th>学習内容</th>
                </tr>
            </thead>
            <tbody>
                <!-- 学習ログがある場合はループで表示 -->
                {% for study_log in current_user.study_logs %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><input type="date" name="study_dates[]" value="{{ study_log.study_date or '' }}"></td>
                        <td><input type="number" step="0.1" min="0" max="24" name="hours[]" value="{{ study_log.hour or '' }}"></td>
                        <td>
                            <input type="text" name="fieldname[]" value="{{ study_log.fields.fieldname }}" list="field_list">
                            <datalist id="field_list">
                                {% for field in current_user.fields %}
                                <option value="{{ field.fieldname }}"></option>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td><textarea name="contents[]">{{ study_log.content or '' }}</textarea></td>
                    </tr>
                {% endfor %}

                <!-- 新規入力用の行 -->
                {% for i in range(3) %}
                <tr>
                    <td>{{ current_user.study_logs|length + i + 1 }}</td>
                    <td><input type="date" name="study_dates[]" value=""></td>
                    <td><input type="number" step="0.1" min="0" max="24" name="hours[]" value=""></td>
                    <td>
                        <input type="text" name="fieldname[]" value="" list="field_list2">
                        <datalist id="field_list2">
                            {% for field in current_user.fields %}
                            <option value="{{ field.fieldname }}"></option>
                            {% endfor %}
                        </datalist>
                    </td>
                    <td><textarea name="contents[]"></textarea></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">更新</button>
    </form>
{% endblock %}