{% extends "base.html" %}

{% block title %} 学習履歴一覧 {% endblock %}

{% block header %}
<div class="header-nav">
    <a href="{{ url_for('index_view', user_id=current_user.user_id) }}">ホーム</a>
    <a href="{{ url_for('profile_edit_view', user_id=current_user.user_id) }}">プロフィール</a>
    <a href="{{ url_for('study_logs_view', user_id=current_user.user_id) }}">学習記録の登録・編集</a>
    <a href="{{ url_for('study_fields_view', user_id=current_user.user_id) }}">学習分野の登録・編集</a>
    <a href="{{ url_for('study_logs_list', user_id=current_user.user_id) }}">学習履歴の一覧</a>
    <form action="{{ url_for('logout') }}" method="get">
        <button class="logout" type="submit">ログアウト</button>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="flash-messsage">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashes">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>

    <h1>{{ current_user.username }}さんの学習履歴一覧</h1>
    {% for date, logs in study_dicts.items() %}
        <p>{{ date }}</p>
        <p>{{ logs }}</p>
        {% for log in logs %}
            <p>{{ log }}</p>
            <ul>
                <li>{{ log.study_log_id }}</li>
                <li>{{ log.study_date }}</li>
                <li>{{ log.content }}</li>
                <li>{{ log.hour }}</li>
            </ul>
        {% endfor %}
    {% endfor %}
{% endblock %}